 .u-section-1 {
  background-image: none;
  min-height: 1921px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 51px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 111px;
  height: 111px;
  background-image: url("images/Tl4lzGRJpE6vPM6X1.png");
  background-position: 50% 50%;
  margin: -9px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0 calc(((100% - 1140px) / 2) + 264px);
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-align: center;
  margin: -40px calc(((100% - 1140px) / 2) + 264px) 0 calc(((100% - 1140px) / 2) + 663px);
}

.u-section-1 .u-custom-html-2 {
  min-height: 1083px;
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-1 .u-table-1 {
  width: 400px;
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 170px);
}

.u-block-b8c7-95 {
  height: 46px;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 700;
}

.u-block-b8c7-138 {
  height: 46px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -123px calc(((100% - 1140px) / 2) + 196px) 0 calc(((100% - 1140px) / 2) + 595px);
}

.u-section-1 .u-table-2 {
  width: 400px;
  margin: -146px auto 60px calc(((100% - 1140px) / 2) + 170px);
}

.u-block-b8c7-28 {
  height: 46px;
}

.u-section-1 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-33 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-35 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-39 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-44 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-45 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-46 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-47 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-48 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-50 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-51 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-52 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-53 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-54 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-55 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-56 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-57 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-58 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-59 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-60 {
  font-weight: 700;
}

.u-block-b8c7-56 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: calc(((100% - 940px) / 2) + 163px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 164px);
    margin-left: calc(((100% - 940px) / 2) + 563px);
  }

  .u-section-1 .u-table-1 {
    margin-top: 8px;
    margin-left: calc(((100% - 940px) / 2) + 70px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -109px;
    margin-right: calc(((100% - 940px) / 2) + 96px);
    margin-left: calc(((100% - 940px) / 2) + 495px);
  }

  .u-section-1 .u-table-2 {
    margin-top: -150px;
    margin-left: calc(((100% - 940px) / 2) + 70px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 16px;
    margin-left: calc(((100% - 720px) / 2) + 46px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
    margin-right: calc(((100% - 720px) / 2) + 54px);
    margin-left: calc(((100% - 720px) / 2) + 453px);
  }

  .u-section-1 .u-table-1 {
    margin-top: 0;
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -107px;
    margin-right: calc(((100% - 720px) / 2) + -23px);
    margin-left: calc(((100% - 720px) / 2) + 394px);
  }

  .u-section-1 .u-table-2 {
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 46px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -43px;
    margin-right: calc(((100% - 540px) / 2) + -36px);
    margin-left: calc(((100% - 540px) / 2) + 363px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-table-1 {
    margin-left: calc(((100% - 540px) / 2) + -37px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -174px;
    margin-right: calc(((100% - 540px) / 2) + -46px);
    margin-left: calc(((100% - 540px) / 2) + 367px);
  }

  .u-section-1 .u-table-2 {
    margin-top: -224px;
    margin-left: calc(((100% - 540px) / 2) + -37px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2114px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 220px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 0;
  }

  .u-section-1 .u-table-1 {
    width: 369px;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-2 {
    width: 398px;
    margin-top: 7px;
    margin-left: auto;
    margin-bottom: 41px;
  }
}